<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cxwl.shawn.thunder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.cxwl.shawn.thunder.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/shawn_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.cxwl.shawn.thunder.util.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="210e1137e0f8e2b6e34d161f22d01598"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ShawnWelcomeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ShawnMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ShawnThunderUploadActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnEventTypeActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnPictureLibraryActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnThunderFarActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnPDFActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnSurfaceViewActivity"
                  android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ShawnLoginActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnNewsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnFeedbackActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnAboutActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnSettingActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnPersonInfoActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnCheckActivity"
                  android:screenOrientation="portrait"/>

        <activity
            android:name=".ShawnModifyInfoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>